
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-2 posts-user">
        <%= link_to public_user_path(post.id) do %>
            <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"100x100" %>
        <% end %><br>
        <%= post.user.name %>
      </div>
      <div class="col-md-4 mb-3">
        <div class="posts-content">
          <p><%= post.created_at.strftime('%Y/%m/%d %H:%M')  %></p>
          <h4 class="mb-3">
            評価|<%= post.title %>
          </h4>
          <p><%= post.content %></p>
          <% if post.user == current_user %>
            <%= link_to edit_public_post_path(post), class:"btn btn-sm btn-success", method: :get do %>
              レビューを編集
            <% end %>
            <%= link_to public_post_path(post.golf_course_id), class:"btn btn-sm btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' } do %>
              レビューを削除
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <%= link_to public_public_golfcourse_path(post.golf_course.id) do %>
          <%= attachment_image_tag post.golf_course, :image, size: "200x150", fallback: "no_image.jpeg" %>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= post.golf_course.name %><br>
        <%= post.golf_course.prefecture %>
        <%= post.golf_course.address %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <p class="text-center">
      <%= paginate @posts %>
    </p>
  </div>
</div>

