<div class="container">
  <h1 class="title text-center">Favorite Golf Course</h1>
  <div class="cover-inner text-center">
    <%= image_tag "golf.jpeg", :width => '700', :height => '400' %>
  </div>
</div>
<div class="container mb-3">
  <div class="features">
    <div class="container">
      <div class="section-title text-center mb-3">
        <h2 class="title">
          <strong>FavoriteGolfCourseとは？</strong>
        </h2>
        <h4 class="title">
          FavoriteGolfCourseは、あなたが行きたいゴルフ場が簡単に見つかります。<br>
          どんな特徴のあるコースなのか、人気があるコースはどのゴルフ場か、<br>
          ゴルファー達の経験を元にした投稿から、すばやく見つけてみませんか？<br>
          自分だけのゴルフ記録もこのサイトで簡単に作ってみましょう〜！
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="region">
    <h2 class="title">
      <strong>地方からゴルフ場を探す</strong>
    </h2>
    <div class="row mx-auto">
      <div class="d-flex justify-content-center col-md-12">
        <% @regions.each do |region| %>
        　<%= link_to region.name, public_rankings_path(region_id: region.id), class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="ranking mx-auto">
    <h2><strong>ゴルフ場ランキング</strong></h2>
    <div class="row">
      <% @golf_courses.each.with_index(1) do |golf_course, i| %>
        <div class="col-lg-3">
          <strong>第<%= i %>位</strong><br>
          <%= link_to public_public_golfcourse_path(golf_course.id) do %>
            <%= attachment_image_tag golf_course, :image, size: "200x150", fallback: "no_image.jpeg" %><br>
          <% end %>
          <%= golf_course.name %><br>
          <%= golf_course.address %><br>
        </div>
      <% end %>
    </div>
  </div>
</div>

