<div class="container">
  <div class="row1">
    <h2 class="index-title">ゴルフ場新規登録</h2><br>
    <%= form_with model: @golf_course, url: admin_golf_courses_path, local:true do |f| %>
      <div class="col-xs-4">
        <%= f.attachment_field :image, placeholder: "ゴルフ場画像" %>
      </div>
      <br><br><br>
      <div class="col-md-5 col-md-offset-2 col-xs-6 col-xs-offset-2">
        <table class="new-form-table">
          <tbody>
            <tr>
              <th>ゴルフ場名</th>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= f.text_area :introduction, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-right">
          <%= f.submit "ゴルフ場登録", class: "btn btn-info" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
