
<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:"100x100" %>
<table class = "table">
  <tbody>
    <tr><th>name</th><td><%= user.name %></td></tr>
    <tr><th>ID</th><td><%= user.name_id %></td></tr>
    <tr><th>introduction</th><td><%= user.introduction %></td></tr>
    <tr>
      <th>follows</th>
      <td>
          <%#= link_to user.followings.count, followings_user_path(user.id) %>
      </td>
    </tr>
    <tr>
      <th>followers</th>
      <td><%#= link_to user.followers.count, followers_user_path(user.id) %></td>
    </tr>
  </tbody>
</table>
<% if user == current_user %>
  <div class="row">
    <%= link_to edit_public_user_path(user.id), class: "btn btn-outline-secondary btn-block", method: :get do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<%end %>