
<div class="container">
  <div class="user-profile">
    <div class="icon text-center">
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:"200x200" %>
    </div>
    <div class="name text-center">
      <h2><%= user.name %></h2>
    </div>
    <div class="name_id text-center">
      <p>@<%= user.name_id %></p>
    </div>
    <div class="introduction text-center">
      <%= user.introduction %>
    </div>
    <% if user == current_user %>
      <div class="row">
        <%= link_to edit_public_user_path(user.id), class: "btn btn-outline-secondary btn-block", method: :get do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    <%end %>
  </div>
</div>


