<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class = "container">
  <div class="row">
    <div class="user-info col-lg-12">
      <%= render 'public/users/user', user: @user %>
    </div>
    <% if user_signed_in? %>
      <div class="follow mx-auto m-2">
        <%= render "public/follows/follow", user: @user %>
      </div>
    <% end %>
  </div>
  <%= render "public/users/tab", posts: @posts, like_list: @like_list, user: @user, like_lists: @like_lists %>
</div>

