<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
  <p></p>
  <div class="row my-4">
    <%= render 'admin/golf_courses/show', golf_course: @golf_course %>
  </div>
  <div class="row my-4">
    <%= render 'public/posts/index', golf_course: @golf_course, posts: @posts %>
  </div>
  <div class="row my-4">
    <%= render 'public/posts/new', post: @post, golf_course: @golf_course %>
  </div>
</div>