<% if user_signed_in? %>
<!--ユーザーがログインしている時-->
  <nav class="my-2 my-md-0 mr-md-3">
    <a><%= link_to "MyPage", public_user_path(current_user.id), class: "fas fa-user p-2 text-white" %></a>
    <a><%= link_to "Ranking", public_rankings_path, class: "fas fa-crown p-2 text-white" %></a>
    <a><%= link_to "Courses", public_public_golfcourses_path, class: "fas fa-golf-ball p-2 text-white" %></a>
    <a><%= link_to "Review", public_posts_path, class: "fas fa-comments p-2 text-white" %></a>
    <a><%= link_to "Users", public_users_path, class: "fas fa-users p-2 text-white" %></a>
  </nav>
  <a><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %></a>
<% elsif admin_signed_in? %>
<!--管理者がログインしている時-->
  <nav class="my-2 my-md-0 mr-md-3">
    <a><%= link_to "Register", new_admin_golf_course_path, class: "fas fa-plus p-2 text-white" %></a>
    <a><%= link_to "Ranking", public_rankings_path, class: "fas fa-crown p-2 text-white" %></a>
    <a><%= link_to "Courses", admin_golf_courses_path, class: "fas fa-golf-ball p-2 text-white" %></a>
    <a><%= link_to "Review", public_posts_path, class: "fas fa-comments p-2 text-white" %></a>
    <a><%= link_to "Users", public_users_path, class: "fas fa-users p-2 text-white" %></a>
  </nav>
  <a><%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light" %></a>
<% else %>
<!--ログインしていない時-->
  <nav class="my-2 my-md-0 mr-md-3">
    <a><%= link_to "Ranking", public_rankings_path, class: "fas fa-crown p-2 text-white" %></a>
    <a><%= link_to "Courses", public_public_golfcourses_path, class: "fas fa-golf-ball p-2 text-white" %></a>
  </nav>
  <a><%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-light" %></a>
  <a><%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light mx-2" %></a>
  <a><%= link_to 'ゲストログイン', homes_guest_sign_in_path, method: :post, class: "btn btn-outline-light"%></a>
<% end %>