<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--<script src="jquery.rwdImageMaps.min.js"></script>-->
    <!--<script src="jquery.min.js"></script>-->
    <!--<script src="jquery.rwdImageMaps.js"></script>-->
    <!--<script src="map.js"></script>-->

  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="/"><%= image_tag 'img/logo.png', :size => '220x60' %></a></h5>
      <%= render "layouts/header" %>
    </div>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark shadow-sm">
        <div class="row">
          <div class="mx-auto text-center">
            <p class="text-white text-center">@CopyRight: FavoriteGolfCourse.inc</p>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </body>
</html>